services:

  server:
    build: "./server"
    restart: "unless-stopped"
    expose:
      - 8000
    depends_on: ["database", "authification"]
    ports:
      - 8000:8000
    volumes:
      - ./server:/usr/src/app/
      - django_static_volume:/usr/src/app/static
      - django_media_volume:/usr/src/app/media

  authification:
    build: "./auth"

  front:
    build: "./client"
    entrypoint: "npm start"
    restart: unless-stopped
    ports:
      - 3000:3000
    depends_on: [server]
    environment:
      - CHOKIDAR_USEPOLLING = true
      - WATCHPACK_POLLING=true
      - AST_REFRESH=false
    volumes:
      - ./client/public:/usr/src/app/public/
      - ./client/src:/usr/src/app/src/

  database:
    image: postgres
    restart: unless-stopped
    environment:
      - POSTGRES_USER=usr
      - POSTGRES_PASSWORD=MegaGigaPass12345
      - POSTGRES_DB=mainDb

  build:
    build: 
      context: "./client"
      dockerfile: "./Dockerfile.build"
    restart: "unless-stopped"
    ports:
      - 80:80
    depends_on: ["server"]
    volumes:
      - django_static_volume:/home/src/app/static
      - django_media_volume:/home/src/app/media

volumes:
  django_static_volume:
  django_media_volume: